@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

:root {
  --primary-color: #f1c40f
}

body {
  height: 100%;
  background-image: url(table.png);
  background-size: cover;
  background-position: center;
  font-family: 'Luckiest Guy', cursive;
  display: grid;
  place-items: center;
}

/* .container {
  display: grid;
  place-items: center;
} */

h1 {
  color: var(--primary-color);
  font-weight: bold;
  letter-spacing: 10px;
  font-size: 4.5rem;
}

p {
  font-weight: bold;
  color: #fff;
}

#message-el {
  font-size: 2rem;
  font-style: italic;
}

#cards-el, #sum-el {
  font-size: 2rem;
}

button {
  width: 25rem;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1.5rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  h1 {
    font-size: 2.8rem;
  }
  #message-el {
    font-size: 1.2rem;
  }

  #cards-el, #sum-el {
    font-size: 1.1rem;
  }

  button {
    width: 20rem;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
  }
}